[Unit]
Description=Beanstalkd Fast Work Queue Service
After=network.target

[Service]
User=beanstalkd
Type=simple
EnvironmentFile=/etc/sysconfig/beanstalkd
ExecStart=/usr/local/bin/beanstalkd -l $BEANSTALKD_ADDR -p $BEANSTALKD_PORT -u $BEANSTALKD_USER -z $BEANSTALKD_MAX_JOB_SIZE -b $BEANSTALKD_BINLOG_DIR -s $BEANSTALKD_BINLOG_SIZE -f $BEANSTALKD_BINLOG_FSYNC_PERIOD
Restart=always

[Install]
WantedBy=multi-user.target

